<div class="w-full max-w-4xl mx-auto p-6 bg-base-200 rounded shadow">
  <div class="flex gap-4">
    <div class="p-4 w-72">
      <h2 class="text-2xl font-bold mb-8">{{proprietario.nome}}</h2>
      <p>Email: {{proprietario.email}}</p>
      <p>Telefone:{{proprietario.telefone}} </p>
      <p>CPF: {{proprietario.cpf}}</p>
      <ul class="list bg-base-100 mt-5 rounded-box shadow-md">
        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Lista de Veiculos do proprietario</li>
        @for (veiculos of proprietario.veiculos; track $index) {
        <li class="list-row">
          <div>
            <div>{{veiculos.marca}}</div>
            <div class="text-xs uppercase font-semibold opacity-60">{{veiculos.modelo}} - {{veiculos.ano}} -
              {{veiculos.placa}}</div>
          </div>
        </li>
        }
      </ul>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="p-4 flex-1">
      <h2 class="text-2xl font-bold mb-8">Cadastrar novo veiculo</h2>
      <div class="overflow-x-auto">
        <form class="gap-4 flex justify-start" [formGroup]="veiculoForm" (ngSubmit)="associarVeiculo()">
          <div class="flex-1 mr-4 ml-4">
            <div class="mb-4">
              <label class="block mb-1">Placa</label>
              <input type="text" formControlName="placa" class="input input-bordered w-30" />
              @if (veiculoForm.get('placa')?.touched && veiculoForm.get('placa')?.invalid) {
              <div class="text-error text-sm mt-1">
                @if (veiculoForm.get('placa')?.errors?.['required']) {
                Placa é obrigatório.
                }
              </div>
              }
            </div>
            <div class="mb-4">
              <label class="block mb-1">Marca</label>
              <input type="text" formControlName="marca" class="input input-bordered w-30" />
              @if (veiculoForm.get('marca')?.touched && veiculoForm.get('marca')?.invalid) {
              <div class="text-error text-sm mt-1">
                @if (veiculoForm.get('marca')?.errors?.['required']) {
                Marca é obrigatório.
                }
              </div>
              }
            </div>
            <div class="mb-4">
              <label class="block mb-1">Modelo</label>
              <input type="text" formControlName="modelo" class="input input-bordered w-30" />
              @if (veiculoForm.get('modelo')?.touched && veiculoForm.get('modelo')?.invalid) {
              <div class="text-error text-sm mt-1">
                @if (veiculoForm.get('modelo')?.errors?.['required']) {
                Modelo é obrigatório.
                }
              </div>
              }
            </div>
          </div>
          <div class="flex-1 mr-4 ml-4">
            <div class="mb-4">
              <label class="block mb-1">Ano</label>
              <input type="text" formControlName="ano" class="input input-bordered w-30" />
              @if (veiculoForm.get('ano')?.touched && veiculoForm.get('ano')?.invalid) {
              <div class="text-error text-sm mt-1">
                @if (veiculoForm.get('ano')?.errors?.['required']) {
                Ano é obrigatório.
                }
              </div>
              }
            </div>
            <div class="mb-4">
              <label class="block mb-1">Cor</label>
              <input type="text" formControlName="cor" class="input input-bordered w-30" />
            </div>
            <div class="mb-4">
              <label class="block mb-1">Quilometragem</label>
              <input type="text" formControlName="quilometragem" class="input input-bordered w-30" />
            </div>
            <button type="submit" class="btn btn-primary w-30 mt-4">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>